{% extends 'SProvider/design1.html' %}
{% block researchblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 1104px;
    height: 442px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style10 {color: #FFFF00; font-weight: bold; }
        </style>

	<body>
	<div class="container-fluid">
		<div>

			<div class="row">
				<div class="col-md-5">
 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">View Tweet Type Prediction Details  !!! </p>
                            <hr>
                            <div >
                               <table border="5" bordercolor="#FF00FF">
                               <tr><td bgcolor="#FF0000"><span class="style8 style6">Idno</span></td>
                        <td bgcolor="#FF0000"><span class="style8 style6">Tweet</span></td>
                    <td bgcolor="#FF0000"><span class="style8 style6">following</span></td>
                    <td bgcolor="#FF0000"><span class="style8 style6">followers</span></td>
                        <td bgcolor="#FF0000"><span class="style8 style6">actions</span></td>
                        <td bgcolor="#FF0000"><span class="style8 style6">is_retweet</span></td>
                        <td bgcolor="#FF0000"><span class="style8 style6">location</span></td>
                                  <td bgcolor="#FF0000"><span class="style8 style6">Tweet Type</span></td>
                      </tr>
                            {% for object in list_objects %}
                      <tr>
                    <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.idno}}</td>
                    <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Tweet}}</td>
                    <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.following}}</td>
                    <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.followers}}</td>
                    <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.actions}}</td>
                    <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.is_retweet}}</td>
                    <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.location}}</td>
                    <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.tweet_type}}</td>
                        </tr>

                                        {% endfor %}
                      </table>

                            </div>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>